.venv
InstaDeepAI
config.py
out/*
!out/_
test*.py
.idea
__pycache__
tokenize_quick.py
jobs/tokenize*
getting_started_with_logan.ipynb
.archive
slurm_jobs_generator
/slurm_jobs_generator/
/tSNE_proj/bed_files/*
/tSNE_proj/data/*